      :root {
        --base-font-color: rgb(5, 68, 94);
        --secondary-font-color: rgb(88,110,117);
        --emphasised-font: rgb(147,161,161);

        --c-background-color: rgb(240, 225, 222);
        --c-background-highlights: rgb(247, 201, 182);

        --c-yellow: rgb(181,137,  0);
        --c-orange: rgb(203, 75, 22);
        --c-red: rgb(220, 50, 47);
        --c-magenta: rgb(211, 54,130);
        --c-violet: rgb(108,113,196);
        --c-blue: rgb(38,139,210);
        --c-cyan: rgb(42,161,152);
        --c-green: rgb(133,153,0);
      }

html {
  background-color: var(--c-background-color);
}

header {
  background-color: var(--c-background-highlights);
  color: var(--base-font-color);
}

footer {
  background-color: var(--c-background-highlights);
  color: var(--base-font-color);
}

main {
    color: var(--base-font-color);
}

a {
    color: var(--c-magenta);
}

a:hover {
    color: var(--c-orange);
}

